footer.site-footer{
	height: 15rem;
	width:100vw;
	background-color: $yellow;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	top: calc(100% + 65rem);

	.marquee3k {
		position: absolute;
		top: 15%;
	  	font-size: 1.5rem;
	  	// margin-top: 15rem;
	  	overflow: hidden;
	  	z-index: 10;
	  	color: #3f634b;
	}

	.nav__container3 {
	  position: absolute;
	  top: 30%;
	  left: 10%;

	  @media screen and (max-width: $break-small) {
	    position: relative;
	    width: 50%;
	    left: 25%;
	    text-align: center;
	    padding-top: 15%;
	  }
	  
	  ul {
	    font-family: $montserrat;
	    list-style-type: none;
	    margin: 0;
	    padding: 0;
	    display: flex;
	    align-items: flex-end;
	    justify-content: center;
	    height: 100%;
	    flex-direction: column;
	    font-size: 0.7rem;
	    margin-top: 2.5rem;
	    
	    li {
	      padding: 0;
	      cursor: pointer;
	      z-index: 20;

	      a{
	        color: $green;
	        padding: 0.2rem 0;
	      }
	    }
	  }
	}
}