.page-template-home{
	background-color: $green;
	font-size: 1rem;
	color: rgba(254, 204, 64, 0.9);
	position: relative;

	.container-fluid{
		max-width: 1600px;
	}

	.marquee3k {
		position: absolute;
		top: 25%;
	  	font-size: 4.5rem;
	  	overflow: hidden;
	  	z-index: 10;
	  	color: $yellow;
	}

	.row{
		width: 100%;
		margin: 0 auto;
		// padding-top: 2%;
	// 	width: 100vw;
		// margin-top: 2%;
	// 	// margin-bottom: 7%;
	}

	h3.best{
		font-size: 15rem;
		position: absolute;
    	right: -10%;
    	margin-top: 5%;
    	// color: rgba(254,204,64,1);
    	color: rgba(63, 99, 75, 1);
    	z-index: -10;
    	@media screen and (max-width: $break-medium) {
			font-size: 12rem;
    	}
	}

	// .row-first{
	// 	margin-top: 0%;
	// 	margin-bottom: 0%;
	// }

	.this-one{
		max-height: 400px;
	}

	.product{
		z-index: 20;
		margin-top: 5rem;
		margin-bottom: 1rem;
		img{
			width: 80%;
			margin-left: 10%;
		}

		.title__product{
			font-size: 0.8rem;
			color: #fff;
			text-align: center;
			// display: inline-block;
		}
		.price{
			width: 50%;
			font-size: 0.8rem;
			color: #fff;
			margin: 0 auto;
			// display: inline-block;
			text-align: center;
		}
		.add_to_cart_button{
			width: 25%;
			margin: 0 auto;
			// display: inline-block;
			font-size: 0.8rem;
			color: #fff;
		}
	}

	img{
		width: 100%;
	}

	.green-block{
		position: absolute;
		left: 15%;
		width: 100%;
		height: 30rem;
		padding: 2rem;
		background-color: #3f634b;
		@media screen and (max-width: $break-medium) {
			height: 25rem;
    	}
    	@media screen and (max-width: $break-small) {
			height: 20rem;
    	}
	}

	.yellow-block{
		position: absolute;
		right: 15%;
		width: 100%;
		height: 30rem;
		padding: 2rem;
		background-color: #3f634b;
		margin-top: 10%;
		@media screen and (max-width: $break-medium) {
			height: 25rem;
    	}
    	@media screen and (max-width: $break-small) {
			height: 20rem;
    	}
	}

}