

// nav {
//   width: 100vw;
//   z-index: 90;
//   position: relative;
// }

.logo{
  position: fixed;
  margin-top: 1.5rem;
  left: 40%;
  width: 20%;
}

.link-logo{
  display: inline-block;
}

.header{
  height: 15vh;
}

nav{
  position: fixed;
  right: 5%;
  z-index: 30;
}


.nav__link{
  display: inline-block;
  opacity: 1;
  color: rgba(254,204,64,1);
  
  @media screen and (max-width: $break-small) {
    padding-top: 15%;
  }
}

.nav__link2{
  display: inline-block;
  opacity: 1;
  color: rgba(254,204,64,1);
  
  @media screen and (max-width: $break-small) {
    padding-top: 15%;
  }
}

.nav__container {

  // @media screen and (max-width: $break-small) {

  // }
  
  ul {
    font-family: $montserrat;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    font-size: 0.7rem;
    margin-top: 2.5rem;
    
    li {
      padding: 0;
      cursor: pointer;
      z-index: 20;

      a{
        color: rgba(254,204,64,1);
        padding: 0.2rem 0;
      }
    }
  }
}

.nav__container2 {
  position: absolute;
  top: 0;
  left: 10%;

  @media screen and (max-width: $break-small) {
  
  }
  
  ul {
    font-family: $montserrat;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    font-size: 0.7rem;
    margin-top: 2.5rem;
    
    li {
      padding: 0;
      cursor: pointer;
      z-index: 20;

      a{
        color: rgba(254,204,64,1);
        padding: 0.2rem 0;
      }
    }
  }
}

.nav__container4 {
  position: absolute;
  right: -4rem;
  top: 55vh;

  @media screen and (max-width: $break-small) {

  }
  
  ul {
    font-family: $montserrat;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    height: 100%;
    flex-direction: column;
    font-size: 0.7rem;
    transform: rotate(-90deg);
    
    li {
      padding: 0;
      cursor: pointer;
      z-index: 20;

      a{
        color: #50775d;
        padding: 0.2rem 1rem 0 0;
      }
    }
  }
}


.cart-contents{
  position: absolute;
  left: 10%;
  top: 50px;
}

.cart-contents:before {
    font-family:WooCommerce;
    content: "\e01d";
    font-size:28px;
    margin-top:10px;
    font-style:normal;
    font-weight:400;
    padding-right:5px;
    vertical-align: bottom;
}
.cart-contents:hover {
    text-decoration: none;
}
.cart-contents-count {
    color: #fff;
    background-color: #2ecc71;
    font-weight: bold;
    border-radius: 10px;
    padding: 1px 6px;
    line-height: 1;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: top;
}