// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder. 
// Just copy a variable from /sass/bootstrap/_variables.scss, paste it here and edit the value.
// As example you find one of the most important Bootstrap variable below: $brand-primary.
// Thats the ugly Bootstrap blue used for all the links, primary buttons etc.
// Just add your color code here, compile the theme.scss file to change this color everywhere

@import url('https://fonts.googleapis.com/css?family=Montserrat');

$montserrat: 'Montserrat', sans-serif;


$font-family-sans-serif:Arial, sans-serif;
$brand-primary:         #7852B2; //#ff6d5a

// Basics of a navbar
$navbar-height:                    60px;
$navbar-margin-bottom:             0px;
$navbar-border-radius:             0px;

$green: #30543c;
$yellow: #ffe775;

$break-extra-large: 1660px;
$break-large: 1260px;
$break-medium: 1024px;
$break-small: 576px;
$break-extra-small: 415px;

