// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

body{
	color: #fff;
	position: relative;
  // display: flex;
	background-color: $green;
  width: 100vw;
  font-family: $montserrat;
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
  // width: 100%;
}

.u--hide{
  opacity: 0;
}

.u--show{
  opacity: 1;
}

// .container{
//     max-width: 1400px;
//   }

// .container-fluid{
//     max-width: 1000px;
//   }

// .row{
//   width: 100%;
// }

a{
	color: #000;
}

nav{
	width: 100vw;
}

main{
  width: 100%;
}

h1.big-title{
  text-align: right;
}

.m-scene .scene_element {
  animation-duration: 0.25s;
  transition-timing-function: ease-in;
  animation-fill-mode: both;
}

.m-scene .scene_element--fadein {
  animation-name: fadeIn;
}

.m-scene.is-exiting .scene_element {
  animation-direction: alternate-reverse;
}

/*
 * Keyframes
 */
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.padding-top-5{
  padding-top: 5%;
}

.padding-bottom-5{
  padding-bottom: 5%;
}

.padding-bottom-10{
  padding-bottom: 10%;
}




